<html>

<body>
    <h1>Add Record</h1>
    <form method="POST" action="/add-process">
        Name : <input type="text" name="Name" required> Details : <input type="text" name="Price" required>
        <input type="submit" />
    </form>
</body>

</html>